.app-background {
  background-image: url('/image/1.jpg');
  background-size: 900px;      /* 화면 꽉 채우기 */
  background-position: center; /* 가운데 정렬 */
  background-repeat: no-repeat;
  min-height: 100vh;           /* 화면 전체 높이 */
}